body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: whitesmoke;
}

.container{
  display: flex;
  border: 1px solid rgb(158, 151, 151);
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  color:rgb(143, 142, 142); 
}
.left-side{
  /* display: flex; */
  /* margin-right: auto; */

}
.left-side img{
  width: 35vw;
  height: 85vh;
  background: transparent;
  border: 2px solid rgb(143, 142, 142);
}
.right-side{
  margin-left: 1.1rem;
}
.right-side h2{
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  font-weight: 600;
}
.right-side p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  font-weight: 400;
  
}
.cross-red li{
  text-decoration-line: line-through;
  text-decoration-color:red ;
}



