body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom right,#fffeff,#62abe7);
}

.container{
  display: flex;
  border: 1px solid rgb(158, 151, 151);
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  color:rgb(143, 142, 142); 
}
.left-side img{
  width: 35vw;
  height: 85vh;
  background: transparent;
  border: 2px solid rgb(143, 142, 142);
}
.right-side{
  margin-left: 1.1rem;
}
.right-side h2{
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  font-weight: 600;
}
.right-side p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  font-weight: 400;
  
}
.cross-red li{
  text-decoration-line: line-through;
  text-decoration-color:red ;
}
.container-b{
  display: flex;
  background: linear-gradient(to bottom right,#e7d6e1,#58abf0);
  width: 100%;
  height: 100%;
}
.sleeptracker{
  margin-left: auto;
  width: 50vw;
  height: 100%;
}
.balancediet{
  margin-right: auto;
  width: 50vw;
  height: 100%;
}
.container-c{
  display: flex;
  background: linear-gradient(to bottom left,#3b3b3b,#58abf0);
  width: 100%;
  height: 100%;
}
.checkupreminder{
  margin-left: auto;
  width: 50vw;
  height: 100%;
}
.physicalreminder{
  margin-right: auto;
  width: 50vw;
  height: 100%;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}


